<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 style="margin-left: 20px; color: #2ecc71;">best invest</h1>
      <br>
      <div id="content"></div>
    </div>
    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script type="text/javascript" src="https://unpkg.com/bloomer/bundles/bloomer.min.js">
    <!-- <script type="text/jsx">< -->
      <script src="{{url_for('static', filename='api.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
  </body>
</html>
